@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

*,
*+*,
*::after,
*::before {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    color: #FFFFFF;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'PT Sans Narrow', sans-serif;

    padding: 0;
    margin: 0;

    background-color: #0E1B1D;
}

.container {
    max-width: 56.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.header {
    background-color: #010F11;
    clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
}

.header-wrapper {
    padding: 9rem 0 8.7rem;
    margin-bottom: 3.55rem;
}

.header-content {
    display: flex;
}

.user-photo__wrapper {
    position: relative;
    margin-right: 6.25rem;
}

.user-desc-circle {
    position: absolute;
    bottom: 0;
    right: -15%;

    max-width: 7.6rem;
    width: 100%;
    height: 7.6rem;

    /* transition: all .3s linear; */

    animation: animateCircle infinite linear 40s;
}

@keyframes animateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.user-photo {
    max-width: 17.5rem;
    width: 100%;
    height: 17.5rem;
}

.user-position {
    margin-bottom: 0.5rem;
}

.user-position-text {
    color: #9E8C6C;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.user-name {
    margin-bottom: 2rem;
}

.user-name-text {
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-size: 6.3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 88%;
    letter-spacing: -0.1086rem;
    margin: 0;
}

.contact-btn {
    color: #FFF;
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    border: none;
    cursor: pointer;
    padding: 0.9rem 3.1rem;
    background-color: #0699A6;

    transition: all .3s linear;
}

.main {
    margin-bottom: 4rem;
}

.contact-btn:hover {
    background-color: #056f78;
}

.main-content {
    display: flex;
}

.section-thesis__left {
    flex-basis: 35%;
    margin-right: 6.25rem;
}

.section-content__left {
    flex-basis: 65%;
}

.skillset-wrapper {
    margin-bottom: 5rem;
}

.skillset-wrapper__title {
    margin-bottom: 0.5rem;
}

.skillset-title h3 {
    color: #9E8C6C;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.skillset-list li {
    margin-bottom: 8px;
}

.skillset-list li:last-child {
    margin-bottom: 0;
}

.text-block-title {
    margin-bottom: 1rem;
}

.text-block-title h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 127%;
}

.awards-wrapper {
    margin-bottom: 5rem;
}

.awards-list li {
    margin-bottom: 0.4rem;
}

.about-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

    max-width: 31rem;
    width: 100%;
}

.spacer {
    display: block;
    max-width: 3.55rem;
    width: 100%;
    height: 0.5rem;
    flex-shrink: 0;

    margin: 4rem 0 3.5rem;
    background-color: #0699A6;
}

.subtitle-block {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.5rem;
}

.subtitle-block-text {
    color: #9E8C6C;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.subtitle-block-date {
    text-align: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 133%;
}

.traits-text {
    margin-bottom: 1.7rem;
}

.traits-text:last-child {
    margin-bottom: 0;
}

.career-wrapper {
    margin-bottom: 5rem;
}

.career-wrapper__title {
    margin-bottom: 0.5rem;
}

.traits-text span {
    font-weight: bold;
}

.experience-text-block__wrapper {
    margin-bottom: 3rem;
}

.experience-text-block__wrapper:last-child {
    margin-bottom: 0;
}

.works-list li {
    margin-bottom: 0.4rem;
    transition: all .3s linear;
}

.works-list a {
    text-decoration: none;
    color: #0699A6;
    transition: all .3s linear;
}

.works-list a:hover {
    opacity: .3;
}

.footer-contacts {
    display: flex;
}

.footer {
    padding: 8.85rem 0 5.56rem;
    background-color: #010F11;
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
}

.footer a {
    text-decoration: none;
    color: inherit;
}


.footer-title-text {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3.3rem;
    font-weight: 900;
    line-height: 124%;
    letter-spacing: -0.0569rem;

    margin-bottom: 2rem;
}

.footer-contacts {
    display: flex;
    justify-content: center;

    color: #0699A6;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 127%;
    margin-bottom: 3.28rem;
}

.footer-link-email {
    transition: all .3s linear;
}

.footer-link-email:hover {
    opacity: .3;
}


.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin-right: 2.3225rem;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    transition: all .3s linear;
}

.footer-links a:hover {
    opacity: .3;
}

.spacer-mobile {
    display: none;
}

@media (max-width: 1140px) {

    .spacer-mobile {
        display: block;
    }
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .user-photo__wrapper {
        margin: 0;
        margin-bottom: 2rem;
    }

    .user-photo {
        max-width: 10rem;
        width: 100%;
        height: 10rem;
    }

    .user-name-text {
        font-size: 4.3rem;
    }

    .user-desc-circle {
        max-width: 5rem;
        width: 100%;
        height: 5rem;
        right: 34vw;
        top: -7vw;
    }

    .main-content {
        flex-direction: column-reverse;
    }

    .section-thesis__left {
        flex-basis: 100%;
        max-width: 487px;
        width: 100%;
        margin: 0 auto;

    }

    .section-content__left {
        flex-basis: 100%;
        max-width: 487px;
        width: 100%;
        margin: 0 auto;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
    }

    .footer-contacts-spacer {
        display: none;
    }
}


@media (max-width: 425px) {
    .header-wrapper {
        padding: 4rem 0 5rem;
        margin-bottom: 2rem;
    }

    .user-photo__wrapper {
        margin-bottom: 1.5rem;
    }

    .user-desc-circle {
        right: 17vw;
    }

    .user-position-text {
        font-size: 0.7rem;
    }

    .user-position {
        margin-bottom: 0.7rem;
    }

    .user-name-text {
        font-size: 2.8rem;
    }

    .text-block-title h3 {
        font-size: 1.6rem;
    }
    
    .main {
        padding: 0 1rem;
        margin-bottom: 3.55rem;
    }

    .about-text {
        font-size: 0.9rem;
    }

    .spacer-wrapper {
        margin: 2rem 0;
    }

    .spacer {
        margin: 0;
    }

    .subtitle-block {
        flex-direction: column;
    }

    .subtitle-block-text {
        margin-bottom: 0.4rem;
    }

    .subtitle-block-date {
        text-align: left;
    }

    .experience-text {
        line-height: 166.667%; 
    }

    .experience-text-block__wrapper {
        margin-bottom: 2rem;
    }

    .skillset-wrapper {
        margin-bottom: 3rem; 
    }

    .awards-wrapper {
        margin-bottom: 3rem;
    }

    .career-wrapper {
        margin-bottom: 3rem;
    }
    
    .footer {
        padding: 5rem 0 4.61rem;
    }

    .footer-title-text {
        font-size: 2rem;
    }

    .footer-contacts {
        font-size: 1.3rem;
        margin-bottom: 2.28rem;
    }
}